<%= render 'session_header' %>

<div>

    <div>
        <ul id="conversation"></ul>
    </div>
    <div>
        <input type="text" id="message">
        <button id="sendBtn">  Send Message  </button>
    </div>
    <div>
      <ul id="onlineUsers"></ul>
    </div>

  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
  <script src="http://static:8089/peerJS/chatController.js"></script>
  <script src="http://static:8089/peerJS/chatModel.js"></script>
  <script src="http://static:8089/peerJS/chatClient.js"></script>
  <script src="http://static:8089/peerJS/chatView.js"></script>
  <script src="http://static:8089/peerJS/sessionModel.js"></script>
  <script src="http://static:8089/peerJS/init.js"></script>

</div>


<%= link_to 'Leave session', event_leave_session_path(@event) %>