<%= render 'session_header' %>

<div>

    <div>
        <ul id="conversation"></ul>
    </div>
    <div>
        <input type="text" id="message">
        <button id="sendBtn">  Send Message  </button>
    </div>
    <div>
      <ul id="onlineUsers"></ul>
    </div>

  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
  <script src="http://static:8089/chat_client/chatController.js"></script>
  <script src="http://static:8089/chat_client/chatModel.js"></script>
  <script src="http://static:8089/chat_client/chatClient.js"></script>
  <script src="http://static:8089/chat_client/chatView.js"></script>
  <script src="http://static:8089/chat_client/sessionModel.js"></script>
  <script src="http://static:8089/chat_client/init.js"></script>


</div>