<header>
  <h1> Welcome to the Pirate Broadcasting Company </h1>
</header>




<%= link_to 'Login', new_user_session_path %>
<p>..or </p>
<%= link_to 'Sign up', new_user_registration_path %>


<footer>
  
</footer>