<div>
  <%= link_to 'Event: ' << event.name, event_path(event) %>  <br>
  Created by <%= event.user.username %> <br>
  Other participants:
  <ul>
    <% event.participants.each do |p| %>
      <% if p != current_user %> 
        <li>
          <%= p.username %><br>
        </li>
      <% end %>
    <% end %>
  </ul>
    
</div>
