<header>
  <h1><%= link_to 'Home', user_home_path(current_user) %></h1>
  <%= link_to 'sign out', destroy_session_path(current_user), method: :delete %>
  <p><%= link_to current_user.username, user_profile_path(current_user), id: 'user_id' %></p>
</header>